.header_section {
    width: 100%;
    height: 160px;
    margin-top: 20px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_section_search {
    position: relative;
}
.header_section_search_input  {
    width: 800px;
    height: 50px;
    border-radius: 27px;
    border: 1px solid #e0e0e0;
    outline: none;
    padding: 13px 40px 15px 46px;

}

.header_section_search img {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 18px;
    top: 25%
}

.input {
  height: 44px;
  position: relative;
  margin: 10px;
}
.input input {
  height: 100%;
  font: 16px/24px Arial, sans-serif;
  padding: 8px 20px 8px 44px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.input .icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 10px;
  background-color: #ccc;
  margin-top: -12px;
}